.keyboardButton {
	display: flex;
	flex-direction: column;

	border: 1px solid rgba(0, 0, 0, 0.4);
	width: 200px;
	margin: 10px;

	&__linkIcon {
		margin-right: 5px;

		img {
			width: 14px;
			height: 14px;
		}
	}

	&__typeBox {
		display: flex;
		justify-content: space-between;
		margin-right: 5px;
	}
	&__type {
		opacity: 0.6;
		font-size: 14px;
		vertical-align: top;
	}

	&__delete {
		height: 14px;
		width: 14px;
		cursor: pointer;
		vertical-align: top;
	}

	&__text {
		margin: 5px;
	}
}
